*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
}
.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 35% !important;
    left: 50% !important;
    transform: translate(-50%);
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
.carousel {
    position: relative;
}
.carousel-caption h5 {
    font-size: 50px;
}
.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
    filter: none;
}
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #fff !important;
    margin-bottom: 5%; 
}
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
}
/* end navbar */
/* saved styles */
.fs-14 {
    font-size: 14px;
}
section {
    padding: 60px 0;
}
.hover-b-red {
    border: 1px solid #ccc;
}
.hover-b-red:hover {
    border: 1px solid rgb(220, 53, 69);
}
/* logos section */
.logos img {
    padding: 20px 40px;
    max-width: 90%;
    transition: 0.3s;
    opacity: 0.5;
    filter: grayscale(100);
}
.logos img:hover {
    filter: none;
    opacity: 1;
}
.cards i {
    font-size: 36px;
}
/* style port*/
.port-child {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20%;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    opacity: 0;
}
.port-card:hover .port-child {
    transform: translateY(80%);
    opacity: 1;
}
.port-img {
    height: 400px;
}
.content h2 {
    font-size: 22px;
}
.btn-light:focus{
    background-color: rgb(220, 53, 69);
    color: #fff;
}
footer li:hover, .port-card i:hover, .hover-red:hover {
    color: rgb(220, 53, 69);
}